# ignore everything in the root except the "home work" directories.
/*

!.gitignore
!public_html/

public_html/*
!public_html/img
!public_html/networks
!public_html/databases
!public_html/bash
!public_html/aws
